{% extends "blog/base.html"%}
{% load socialaccount %}
{%block title%}Sign In{%endblock%}
{% load crispy_forms_tags %}
{%block content%}
<div class="content-section">
    <form action="" method="POST">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Sign In
            </legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <br>
            <button class="btn btn-outline-info" type="submit"> Sign in</button>
            <small class="text-muted ml-2">
                <a class="" href="/password-reset">Reset Password</a>
            {% if user.is_authenticated %}
                <p>Welcome, You are logged in as {{ user.username }}</p>
            {% else %}
                {% comment %} <a href="{% provider_login_url 'google' %}">Login With Google</a> {% endcomment %}
                <legend class="border-bottom mb-4"><br>
                    <a class="btn btn-lg btn-google btn-block text-capfirst btn-outline border border-success" href="{% provider_login_url 'google' %}">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Login Using Google</a>
                </legend
            {% endif %}
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Don't have an Account? <a class="ml-2" href="/register">Sign Up</a> </small><br>
        <small class="text-muted">  </small>
    </div>
</div>

{%endblock%}