{% extends "blog/base.html"%}
{%block title%}Sign Up{%endblock%}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block content%}
<div class="content-section">
    <form action="" method="POST">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Join Today
            </legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
            {% if user.is_authenticated %}
                <p>Welcome, You are logged in as {{ user.username }}</p>
            {% else %}
                {% comment %} <a href="{% provider_login_url 'google' %}">Login With Google</a> {% endcomment %}
                <legend class="border-bottom mb-4"><br>
                    <a class="btn btn-lg btn-google btn-block text-capfirst border border-success btn-outline" href="{% provider_login_url 'google' %}">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png"> sign up Using Google</a>
                </legend
            {% endif %}
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already Have An Account? <a class="ml-2" href="/login">Sign In</a> </small><br>
        <small class="text-muted"> <a class="ml-2" href="/password-reset">Reset Password</a> </small>
    </div>
</div>

{%endblock%}